*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "lato" sans-serif;
    text-transform: capitalize;
  }
 nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
 }
 .logo{
    font-size: 18px;
    color:rgba(17, 14, 14, 0.689);
 }
 ul {
    list-style: none;
 }
 nav li {
    display:inline-block;
 
 }
 nav li a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: #72aec8;
 }
  nav li a:hover{
    color: #023449;
    transition: 0.2s ease;
  }
  .icons{
    font-size: 20px;
    color: #23272b
  }
  .bars{
    display: none;
  }
@media screen and (max-width: 670px){
    nav{
    width: 100%;
    /* height: 50px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px ;
    }
    nav li{
     display: block;
     padding: 5px 0;   
   }
  ul{
    text-align:center;
     display: none;
     padding: 0px;
    /* z-index: 1; */
  }
  .logo{
    align-self:self-start;
  }
.logo a{
    text-decoration: none;
    font-size: 40px;
    color: #25f128;
 }
  ul li{
    display:block;
 }
   .bars{
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 25px;
 }
 .icon i{ 
    display: none;
 }
 .bar{
    display: none;
 }
.showmenu{
    display: block;
    cursor: pointer;
    padding: 20px;
}
}
/* header section close */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center ;
    background-color:#edf1f3 ;
    width: 100%;
}
.tittle h1{
    max-width: 500px;
    font-size:70px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: #72aec8 2px 2px 2px rgba(6, 85, 103, 0.05);
}
.tittle button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    /* background-color:rgb(33 37 41); */
    border-radius: 5px;
    border: 2px solid #72aec8;
    box-shadow: #72aec8 3px 9px 3px;
    padding: 10px;
}
.tittle button a{
    color:#72aec8; 
    font-size: 25px;
    /* padding: 10px ; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
.shop-btn{
    margin-top:20px;
}
.tittle button:hover{
    background-color: #72aec8;
    border: 1px solid rgb(33 37 41) ;
    transition: 2s;
}
.tittle button a:hover{
   color:rgb(33 37 41);
   transition: 2s;
}
/* contain second */
.contain-second{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    background-color:#fff;
    padding: 50px 20px;

  
}
.box{
    /* border: 1px solid black; */
    /* margin: 20px auto; */
    max-width: 300px;
}
.box h1{
    color:rgb(33 37 41) ;
    font-size: 25px;
}
.box p{
    color:#aeaeae;
    font-size: 20px;
    font-family: "lato" sans-serif;
    line-height: 1.5;
    padding: 10px;
}
.box p:hover{
    color: #72aec8;
    transition: 0.2s;
}
.box i{
    color:#72aec8;
    font-size: 10px;
}
/* end second */
.itemheading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px 40px;
}
.p{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p:hover{
    color: #72aec8;
    border-bottom: #72aec8 solid 2px;
    transition: 2s;
}
.itemheading p a{
    text-decoration: none;
    color:rgb(33 37 41);
    font-size: 30px; 
    padding: 2px;
    border-bottom: 2ps solid;
}
.itemheading p:active{
    border-radius: 2px solid #72aec8;
    border: 5px solid #72aec8;
    transition: 2s;
    padding: 20px;
}
.itemheading p a:hover{
    border-bottom: 4px solid #72aec8 ;
    transition: 2s;
    color: #72aec8;
}
.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}
.product-card{
    position: relative;
    width: 300px;
    text-align: center;
    padding: 15px;
    border-radius:5px;
    font-size: 30px;  
}
.product-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.product-card  h3{
    margin: 10px 0;
    font-size: 20px;
    color:rgb(33 37 41);
    text-transform: capitalize;
}
.product-card h3:hover{
    transition: 2s;
    color:#72aec8 ;
  
}
.addtocard{
    display: none;
    position: absolute;
    bottom: 80px;
    left: 15%;
    padding: 10px 20px;
    background-color:rgba(33, 37, 41, 0.416) ;
    color: #fff;
    border: none;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    transform: background-color 0.3s ease,color 0.3s ease;  
}
.addtocard:hover{
    background-color:#72aec8;
    transition: 2s;
    color:rgb(33 37 41);
    transform: background-color 0.3s ease,color 0.3s ease;
}
.product-card:hover .addtocard{
    transition: 3s;
    display: block;
}
.productcontain-4{
    transition: 2s;
    margin-top: 50px;
}
.container-2{
    width: 100%vw;
    height: 100%vh;
}
.container-2{
     display: flex; 
     background-color:gray;
     justify-content: center;
     justify-content: space-between;
     padding-top: 20px; 
     padding-left: 150px;
     align-items:center;
} 
.tittle {
   margin-bottom:100px;
}
.container-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.tittle {
    max-width: 500px;
     font-size:70px;
}
.banner-img-1 {
    width: 400px;
    height: auto;
    padding:0 30px; 
}
.banner-img-1 img{
    width: 100%;
    height: auto;
}
.post-item{
    width: 400px;
    text-align: center;
    padding: 15px;
    border-radius:5px;
    font-size: 30px;  
}
.post-item img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.post-item h4{
    font-size:small;
    color:#6c757d;
    text-align:left;
}
.post-item h5 a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
.post-item h5{
    text-align: left;
}
.post-item h5 a:hover{
    color: #72aec8;
    transition:1s;
}
.post-item img{
    transform:scale(0.1 1.1); 
    overflow: hidden; 
}
.post-item img:hover{
    transform:scale(-1.0); 
    transition:  4s;
    cursor: pointer;
}
/* mailbox container */
.mailcontainer{
    width:100% ;
    height: 200px;
}
.smallcontain{
    background-color:#23272b;
    width: 800px;
    height: 200px; 
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items:center ;
    align-content: center;
    gap: 10px; 
}
.box1 h1{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box1{
    color: #aeaeae;
    text-transform:capitalize;
    font-size: 20px;
} 
.eamil-box{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.eamil-box input{
    padding: 10px;
    border: none;
    width: 200px;
    
}
.eamil-box button{
    padding: 10px;
    background-color:#72aec8;
    color: #fff;
    border: none;
    cursor: pointer;   
}
.eamil-box input:active{
    border: 2px solid #72aec8;
}
.eamil-box button:hover{
    transition: 2s;
    background-color:#23272b;
} 
/* addcard container */
.addcard-containe{
    margin-top: 100px;
}
.itemheadind h1{
    text-align: center;
    font-size: 40px;
}
.itemheadind h1:hover{
    color: #72aec8;
}
.instalogo-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding: 20px;
    /* width: 100%; */
}
.instalogos{
    width: 230px;
    padding: 2px;
    border-radius: 10px;    
}
.instalogos img{
    width: 100%;
    height: auto;
}

.instalogos{
   position: relative;
   transition: 20s;
}
 .instalogos i{
     font-size: 50px;
     color:black;
     justify-content: center;
     position: absolute;
     bottom: 40px;
     left: 80px;
     display: none; 
     display: block;
     opacity: 0;
     transition: all 2s ease;
     transform: scale(0.5);
  }
.instalogos:hover i{
    opacity: 1;
    transform: scale(1);
    cursor: pointer;
}
.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin: 20px auto; */
    opacity: 1;
}
.sub1 p{
    max-width: 300px;
      color: gray;
      font-size: 20px;
      line-height: 1.2;
}
.sub1 i{
    color:gray;
    font-size: 15px;
    padding: 10px;
}
.sub1 i:hover{
    color: #72aec8;
}
.sub2 h3{
    color: #23272b;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}
.sub2 p a{
    text-decoration: none;
    display: block;
    color:#23272b;
    font-size: 18px;
}
.sub2 p a:hover{
    color: #72aec8;
}
.sub3 h3{
    color: #23272b;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}
.sub3 p a{
    text-decoration: none;
    display: block;
    color:#23272b;
    font-size: 18px;
}
.sub3 p a:hover{
    color: #72aec8;
}
.sub4 h3{
    color: #23272b;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}
.sub4 p a{
 text-decoration: none;
 color: #23272b;
}
.sub4 p a:hover{
    color: #72aec8
}
 .maincon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin: 20px;
 }
 .maincon h3{
    color:gray;
 }
.last1 img:hover{
    background-color: #72aec8;
 }
 .last2 img:hover{
    background-color: #72aec8;
 }
.last3 h3 a{
    text-decoration: none;
    color: #23272b;
}
.last3 h3 a:hover{
    color: #72aec8;
}

 